.flag {
  border: 2px solid black;
  background: rgb(255, 255, 255);
  height: 400px;
  width: 600px;
}

.circle {
  position: relative;
  top: 80px;
  left: 180px;
  background: red;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

/* .list-group {
    
} */

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  width: 300px;
  list-style: none;
  font-size: 30px;
  padding: 20px;
  font-weight: 100px;
}

.study {
  display: flex;
}

.list-group-item:hover {
  background: #0d6efd;
}
